
/*************************************************HEADERS***************************************************************
***********************************************************************************************************************/
header {
    background: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, "Times New Roman", Times, Serif;
    overflow: auto;
}

h2 {
    color: #4aaaa5;

}

.main-head-list {
    margin: 0;
    overflow: auto;
    margin-left: 50%;
    color: #777777;
    font-size: larger;
}

.main-li-list {
    list-style-type: none;
    display: inline;
    float: left;
    color: #cccccc;
}

.name {
    width: 12%;
    height: inherit;
    background: #4aaaa5;
    z-index: 1;
    color: #ffffff;
    float: left;
    font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
    margin-left: 25%;
    overflow: hidden;
}

.main-name {
    margin-left: 5%;
}

li+li {
    border-left: 1px solid #cccccc;

}

a.color-list {
    color: #cccccc;
    text-decoration: none;
}


/*************************************************ABOUT ME*************************************************************
***********************************************************************************************************************/
.content-area {
    border: 2px solid #dddddd;
    padding-top: 1.5%;
}

.about-me-content {
    background: #ffffff;
    margin-left: 25%;
    width: 960px;
    border: 2px solid #dddddd;
    height: auto;
    overflow: auto;

}

p {
    font-size: larger;
}

.side-bar {
    float: right;
    margin-right: 25%;
    width: 270px;
    background: #ffffff;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;

}

.about-two-para {
    float: left;
}

.profile-pic {
    float: left;
    width: 15%;
    height: 15%;

}

html {
    background: whitesmoke;
    color: #777777;
}


/*************************************************FOOTER***************************************************************
***********************************************************************************************************************/
footer {
    clear: both;
    background: #666666;
    border-top: 10px solid #4aaaa5;
}